<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add player to competition</title>
</head>
<body>

<h2>Competition details: </h2>
<h3>Location : <span th:text="${comp.location}"> n </span> </h3>
<br>
<h3> Date : <span th:text="${comp.date}"> bd </span> </h3>

<br>

<h3>Select player to competition: </h3>
<form th:object="${player}" th:action="@{ '/competitions/' + ${comp.competitionID} + '/addPlayer' }" method="post">

    <select th:field="*{playerID}">
        <option th:each="pl : ${players}"
                th:value="${pl.playerID}"
                th:text="${pl.name}">pl
        </option>
    </select>

    <button type="submit">Add</button>

</form>

</body>
</html>