<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div> <a th:href="@{'/trainers/new'}">  Add new Trainer </a> </div>
<div> <a th:href="@{'/players/list'}">  Players </a> </div>
<div> <a th:href="@{'/competitions/list'}"> Competitions </a></div>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Country </th>
        <th> Player name </th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="t : ${trainers}">
        <td><span th:text="${t.name }"> n </span></td>
        <td><span th:text="${t.country.name}"> c </span></td>
        <td><span th:text="${t.player} ? ${t.player.name} : Unassigned "> pl </span></td>
        <td><a th:href="@{ '/trainers/update/' + ${t.trainerID } } "> Update </a></td>
    </tr>
    </tbody>

</table>

</body>
</html>