<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> <a th:href="@{'/players/new'}">  Add new player </a> </div>
<div> <a th:href="@{'/trainers/list'}">  Trainers </a> </div>
<div> <a th:href="@{'/competitions/list'}"> Competitions </a></div>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Date of birth </th>
        <th> Country </th>
        <th> Trainer name </th>
    </tr>
    </thead>
    <tbody>

        <tr th:each="pl : ${players}">
            <td><span th:text="${pl.name }"> n </span></td>
            <td><span th:text="${pl.birthDate}"> bd </span></td>
            <td><span th:text="${pl.country.name}"> bd </span></td>
            <td><span th:text="${pl.trainer} ? ${pl.trainer.name} : Unassigned "> tr </span></td>
            <td><a th:href="@{ '/players/update/' + ${pl.playerID } } "> Update </a></td>
            <td><a th:href="@{ '/players/' + ${pl.playerID + '/attendances' } } "> Attendances </a></td>

        </tr>
    </tbody>
</table>
<br>

</body>
</html>