<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Date of birth </th>
        <th> Country </th>
        <th> Trainer name </th>
    </tr>
    </thead>

    <tbody>

        <tr th:each="pl : ${players}">
            <td><span th:text="${pl.name }"> n </span></td>
            <td><span th:text="${pl.birthDate}"> bd </span></td>
            <td><span th:text="${pl.country.name}"> bd </span></td>
            <td><span th:text="${pl.trainer} ? ${pl.trainer.name} : Unassigned "> tr </span></td>
        </tr>
    </tbody>

</table>

</body>
</html>